Veriable namea must start with a letter or an underscore

In [1]:
x = True #valid
_y = True #valid

9x = False # start with numera1

SyntaxError: invalid decimal literal (3731376463.py, line 4)

Names are case sensitive.

In [2]:
x = 9
y = x*5

In [3]:
a = 2
print(type(a))

<class 'int'>

In [4]:
b = 9223372036854775807
print(type(b))

<class 'int'>

In [5]:
pi = 3.14
print(type(pi))

<class 'float'>

In [6]:
c = 'A'
print(type(c))

<class 'str'>

In [7]:
name = 'anowar hossen'
print(type(name))

<class 'str'>

In [8]:
q = True
print(type(q))

<class 'bool'>

In [9]:
x = None
print(type(x))

<class 'NoneType'>

In [10]:
a,b,c =1,2,3
print(a,b,c)

1 2 3

In [11]:
a,b,c = 1,2

ValueError: not enough values to unpack (expected 3, got 2)

this is the value Error but input 3 and value 2 the not enough .

In [12]:
a,b, = 1,2,3

ValueError: too many values to unpack (expected 2)

this is the value Error but input 2 and value 3 the not enough .

In [13]:
a,b,_ = 1,2,3
print(a,b)

1 2

Note that the number of _ and number of remaining values must be equal. Otherwise 'too many values to unpack
error' is thrown as above

In [14]:
a,b,_ = 1,2,3,4

ValueError: too many values to unpack (expected 3)

You can also assign a single value to several variables simultaneously.

In [15]:
a=b=c=1
print(a,b,c)

1 1 1

When using such cascading assignment, it is important to note that all three variables a, b and c refer to the same
object in memory, an int object with the value of 1. In other words, a, b and c are three diﬀerent names given to the
same int object. Assigning a diﬀerent object to one of them afterwards doesn't change the others, just as expected:

In [16]:
a=b=c=1 #all three names a, b and c refer to same int object with value 1
print(a,b,c)

1 1 1

In [18]:
b=2 # b now refers to another int object , one with a value ofn2
print(a,b,c) # so output is as expected.

1 2 1

The above is also true for mutable types (like list, dict, etc.) just as it is true for immutable types (like int, string,
tuple, etc.):

In [19]:
x = y = [7,9,8] # x and y refer to same list object just created [7,9,8]
x = [13,8,9] # x now refers to a different list object just created, [13,8,9]
print(y)

[7, 9, 8]

In [20]:
print(x,y)

[13, 8, 9] [7, 9, 8]

In [21]:
x=y=[7,8,9] # x and are two different names for the same list object just created,[7,8,9]
x[0] = 13 # we are updatting the value of the list [7,8,9] through one of its names, x in this case
print(y) # printing the value of the list using its other name

[13, 8, 9]